apiVersion: apps/v1
kind: Deployment
metadata:
  name: image-gallery
spec:
  replicas: 3  # Prod uses 3 replicas for HA
  template:
    spec:
      containers:
      - name: app
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 1Gi
      
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app: image-gallery
              topologyKey: kubernetes.io/hostname
