apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: app

resources:
- ../../base

namePrefix: prod-

commonLabels:
  environment: prod

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: image-gallery

configMapGenerator:
- name: image-gallery-config
  behavior: merge
  literals:
  - LOG_LEVEL=WARNING
  - S3_BUCKET=image-gallery-prod-bucket
