#----------------------------------------------
# Dev Environment Values
#----------------------------------------------

replicaCount: 1

image:
  tag: latest

config:
  s3Bucket: image-gallery-dev-images
  logLevel: DEBUG

service:
  type: ClusterIP

ingress:
  enabled: true
  className: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::184890426414:role/image-gallery-dev-app-sa-role"

metrics:
  enabled: true
