#----------------------------------------------
# Prod Environment Values
#----------------------------------------------

replicaCount: 3

image:
  tag: latest

config:
  s3Bucket: image-gallery-prod-images
  logLevel: WARNING

service:
  type: ClusterIP

ingress:
  enabled: true
  className: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 1Gi

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::184890426414:role/image-gallery-prod-app-sa-role"

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: image-gallery
          topologyKey: kubernetes.io/hostname
