apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: app

resources:
- namespace.yaml
- serviceaccount.yaml
- configmap.yaml
- deployment.yaml
- service.yaml

commonLabels:
  app: image-gallery
  managed-by: kustomize

images:
- name: IMAGE_PLACEHOLDER
  newName: 184890426414.dkr.ecr.us-east-1.amazonaws.com/image-gallery
  newTag: latest
