apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: app

resources:
- ../../base

namePrefix: staging-

commonLabels:
  environment: staging

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: image-gallery

configMapGenerator:
- name: image-gallery-config
  behavior: merge
  literals:
  - LOG_LEVEL=INFO
  - S3_BUCKET=image-gallery-staging-bucket
